body.my-style {
  background-color: #16161d99;
}

.tachado {
  text-decoration: line-through;
}


.marca {
  background-color: rgb(128, 0, 255);

}

.radio[type="radio"] {
  /* define um tamanho fixo para o botão */
  width: 20px;
  height: 20px;
  /* centraliza o botão verticalmente */
  vertical-align: middle;
  /* esconde o botão original */
  display: none;
}

.alternativa-selecionada {
  background-color: #6f42c1;
  color: #ffffff;
}



.alternativa{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.5;
  font-family: Source Sans Pro, Trebuchet MS, Tahoma, sans-serif;
  color: #333;
  font-size: 1rem;
  list-style-type: none;
  box-sizing: border-box;
  max-width: 100%;
  font-weight: bold;
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important;
  margin: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
  padding: 0.3rem;
  padding-left: 0.5rem;
}


.alternativa-letra{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Source Sans Pro, Trebuchet MS, Tahoma, sans-serif;
  color: #333;
  font-size: 1rem;
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  width: 2rem;
  line-height: 2rem;
  display: table-cell;
  vertical-align: middle;
  padding-right: 1rem;
}

.letra{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Source Sans Pro, Trebuchet MS, Tahoma, sans-serif;
  color: #333;
  font-size: 1rem;
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
  line-height: 2rem;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #b0b5b5;
  align-content: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  width: 1.9rem;
  height: 1.9rem;
}

.alternativa-texto{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Source Sans Pro, Trebuchet MS, Tahoma, sans-serif;
  color: #333;
  font-size: 1rem;
  list-style-type: none;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 1rem;
  word-wrap: break-word;
  min-width: 100%;
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  line-height: 1.4rem;
  text-align: left;
}